<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Welcome to Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora sit non
      perspiciatis nihil quo voluptatum nemo hic omnis, vero et dolores, optio
      molestiae esse nisi minima maiores itaque, natus ab placeat quibusdam
      sequi voluptas! Quia nesciunt ex dicta, dolore ipsa unde ea earum vel
      corrupti minus exercitationem doloremque laboriosam animi ad labore facere
      aliquam rem quam dolor architecto. Rerum doloremque libero voluptatibus,
      expedita laborum ad. Beatae eligendi enim vel harum, iusto illo neque
      officiis cumque similique suscipit distinctio dicta saepe ducimus, minima
      provident rem esse exercitationem in unde animi, dolore expedita? Ab,
      tenetur. Ducimus doloremque perferendis non labore reiciendis? Odio!
    </p>
  </body>
</html>
